.background-blue {
  background-color: #0090ba;
  height: auto;
}

.background-black {
  background-size: cover;
  background-color: black;
  min-height: 350px;
  max-height: 350px;
  padding: 5%;
}

.background-black-signin {
  background-color: black;
}

.padding-fix {
  padding-top: 12%;
  padding-bottom: 12%;
}

.h1-white {
  color: white;
}